.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotron-background.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: #d040406e 0.3em 0.3em 0.3em;
}

.title-box {
      background-color: #77889996;
      padding-bottom: 1%;
}

#projects {
  margin-top: 2rem;
}

footer {
  margin-bottom: 2rem;
}

#contact-image {
  width: auto;
  height: 6rem;
}

#footer-list {
  padding-top: 16px;
}
